aiosmtpd
asgiref
astroid
atpublic
attrs
click
colorama
crispy-bootstrap4
cssbeautifier
dill
Django
django-crispy-forms
djlint
EditorConfig
flake8
html-tag-names
html-void-elements
isort
jsbeautifier
lazy-object-proxy
mccabe
mypy-extensions
packaging
pathspec
Pillow
pip
platformdirs
pycodestyle
pyflakes
PyYAML
regex
setuptools
six
sqlparse
tomli
tomlkit
tqdm
typing_extensions
wrapt